body {
  margin: 0;
}
body * {
  box-sizing: border-box;
}
.cards {
  padding: 100px 0;
}
.cards-list {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  padding: 15px;
  border: 1px solid grey;
  display: flex;
}
.number {
  font-size: 75px;
  font-weight: 700;
}
.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.descr {
  font-size: 16px;
  margin-bottom: 20px;
}
.action {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: white;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.card-red {
  background-color: tomato;
  color: white;
  border-color: tomato;
}
.card-red .action {
  color: tomato;
  background: white;
}
.card-yellow{

}
